@import 'colors';

.App {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    color: $black;
    box-sizing: border-box;
}

@media screen and (min-width: 1120px) {
    .App {
        background-color: $white;
    }
}
